@import '../../../css/vars';
.left {
    background-color: var(--clr-left);
    border: 1px solid var(--clr-border);
    box-shadow: var(--clr-bx-shadow);
    transition: 0.5s;
    padding: 20px;
    &ContainerIcon {
        display: flex;
        justify-content: space-between;
    }
    &Icon {
        cursor: pointer;
        color: var(--text-color);
        &:hover {
            color: var(--title-color);
        }
        body.print & {
            font-size: 16px;
        }
    }
    body.print &IconPrint {
        display: none;
    }
    &ContainerImgUpload {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        top: -20px;
        justify-self: center;
        width: 120px;
        height: 120px;
        border: 1px solid var(--text-color-light);
        border-radius: 50%;
        overflow: hidden;
        body.print & {
            top: -5px;
        }
    }
    &ImgUpload {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        body.print & {
            object-fit: none;
        }
    }
    &FileImg {
        display: none;
    }
    &IconFile {
        position: absolute;
        bottom: 11px;
        right: 11px;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(20px);
        border-radius: 50%;
        padding: 2px;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.9);
        &:hover {
            color: #FFF;
        }
    }
    &ContainerInfoGral {
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        color: var(--title-color);
        &Prof {
            margin: 6px 0 40px 0;
            font-weight: 300;
            font-size: 16px;
        }
    }
    &ContainerInfoPer {
        margin-top: 25px;
        align-items: center;
        display: flex;
    }
    &InfoPer {
        color: var(--text-color);
        margin-left: 10px;
        width: 90%;
        font-size: 13px;
        body.print & {
            font-size: 12px;
        }
    }
    &TitleContainer {
        margin-top: 45px;
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &IconPlus {
        color: var(--text-color);
        cursor: pointer;
        &:hover {
            color: var(--title-color);
        }
        body.print & {
            display: none;
        }
    }
    &Title {
        letter-spacing: 2px;
        color: var(--title-color);
        font-size: 18px;
    }
    &SocialContainer {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--text-color);
        width: 99%;
        @media (max-width: 990px) {
            width: 100%;
        }
    }
    &SocialContent {
        margin-left: 6px;
        width: 81%;
        font-size: 13px;
        body.print & {
            font-size: 12px;
            width: 90%;
        }
        @media (max-width:990px) {
            width: 89%;
        }
    }
    &IconSocialTrash {
        font-size: 16px;
        body.print & {
            display: none;
        }
    }
    &PerfilContent {
        margin-top: 20px;
        font-weight: 300;
        color: var(--text-color);
        font-size: 14px;
    }
    &Education {
        margin-top: 20px;
        width: 99%;
        color: var(--text-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 990px) {
            width: 100%;
        }
        &Info {
            width: 90%;
        }
        &Degree {
            font-weight: 500;
            color: var(--title-color);
            font-size: 15px;
        }
        &School {
            font-weight: 300;
            font-size: 14px;
        }
        &Year {
            font-weight: 300;
            font-size: 13px;
        }
    }
    &SkillsContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 25px;
        width: 99%;
        @media (max-width: 990px) {
            width: 100%;
        }
    }
    &SkillsContent {
        width: 81%;
        margin-left: 6px;
        color: var(--text-color);
        font-weight: 300;
        font-size: 14px;
        body.print & {
            width: 88%;
        }
        @media(max-width:990px) {
            width: 89%;
        }
    }
    body.print &IconSkills {
        font-size: 16px;
    }
}