:root {
    --clr-bg: #FCFCFC;
    --clr-left: #F0EFEF;
    --clr-right: #FAFAFA;
    --clr-border: transparent;
    --clr-bx-shadow: 1px -1px 4px #00000017;
    --text-color: #403A3A;
    --title-color: #0B0A0A;
    --text-color-light: #707070;
    --text-color-help: #F2F2F2;
    --widthApp: calc(100% - 3rem);
    --maxwidthApp: 968px;
    --paddingApp: 2rem 0 4rem 0;
}

body.dark {
    --clr-bg: #2B2B2B;
    --clr-left: #181616;
    --clr-right: #212121;
    --clr-border: rgba(0, 0, 0, 0.08);
    --clr-bx-shadow: none;
    --text-color: #BFBFBF;
    --title-color: #F2F2F2;
    --text-color-help: #403A43;
}

body.print {
    --widthApp: 100%;
    --maxwidthApp: 100%;
    --paddingApp: 0;
}